* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root {

    --color-primario: #5E503F;
    --color-secundario: #D2B48C;
    --color-font: #EAE0D5;
}

body {

    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header {


    height: 7vh;
    background-color: var(--color-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {


    object-fit: contain;
    width: 8vw;
    height: 7vh;
    
   
}


nav {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav a {
    background-color: var(--color-primario);
    text-decoration: none;
    color: var(--color-font);
    border-radius: 1vh;
    font-size: 18px;
    padding: 2px;
    margin-left: 0.2rem;

}

a:hover {
    color: white;

}

main {
    min-height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

h1,
h2 {
    text-align: center;
    color: var(--color-font);
    margin-top: 1vh;
    font-size: 20px;

}

.Banner {

    width: 95vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 5px;
}

.image1 {


    height: 40vh;
    object-fit: cover;
    border-radius: 2rem;

}

.Maindescription {

    display: flex;
    justify-content: center;
    margin-top: 3vh;
    align-items: center;

}

.paragraph {
    width: 30vw;
    height: 10hv;
    color: var(--color-font);
    font-size: 20px;
    text-align: center;
    margin-right: 5vw;
}

footer {

    width: 100%;
    height: 8vh;
    background-color: var(--color-secundario);

}

h3 {

    text-align: center;
    margin-top: 2vh;
    color: var(--color-primario);

}

.image2 {

    width: 10vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 2rem;
    margin-right: 5vw;

}

.Title {
    margin-bottom: 2rem;
}

.firstphoto {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}

.secondphoto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.thirdphoto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph1 {

    width: 20vw;
    height: 20hv;
    color: var(--color-font);
    font-size: 23px;
    text-align: center;
    margin-right: 5vw;
}

.contactdiv {

    text-align: center;
}

.image3 {

    width: 30vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 2rem;

    margin-bottom: 5vh;

}

.paragraph2 {

    color: var(--color-font);
    font-size: 20px;
    text-align: center;
    margin-right: 5vw;
}

.contact1 {

    margin-top: 5vh;
    display: flex;
    justify-content: space-between;


}

.mail {

    text-decoration: none;
    color: var(--color-primario);



}

.phone {

    text-decoration: none;
    color: var(--color-primario);

}

.box1 {

    background-color: var(--color-secundario);
    padding: 0.5rem;
    border-radius: 2vh;
}

.box2 {
    background-color: var(--color-secundario);
    padding: 0.5rem;
    border-radius: 2vh;
}


table,
tr,
td,
th {

    border: 1px solid var(--color-font);
    font-size: 15px;
    border-collapse: collapse;
    text-align: center;
    color: white;


}

tr,
td,
th {

    height: 8vh;
    width: 8vw;
}

.divphoto1 {

    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid white;
    margin-bottom: 2vh;
    width: 40vw;
    height: 35vh;
    border-radius: 2vh;

}

.divphoto2 {

    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid white;
    width: 40vw;
    height: 35vh;
    margin-bottom: 5vh;
    border-radius: 2vh;

}

.photos {

    width: 25vw;
    height: 30vh;
    object-fit: contain;
}

.stars {
    width: 10vw;
    height: 10vh;
    object-fit: contain;

}

ul {
    color: var(--color-font);
    font-size: 15px;
}

article>iframe {
    width: 12rem;
    height: 12rem;
    margin: 1rem;
    
}

article {

    text-align: center;

}

.hire {


    display: flex;
    gap: 2rem;
    color: var(--color-font);
}

form {


    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: var(--color-font);
}

.Payment {
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Checkbox {

    display: flex;
    flex-direction: row;
}

textarea {
    resize: none;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {

    header {

        flex-direction: column-reverse;
        height: 100%;
        width: 100%;

    }
    header img{

        width: 100%;
        height: 100%;


    }
  

    nav {
        flex-direction: column;
        gap: 1vh;
    }

    .hire {
        flex-direction: column-reverse;
    }



    .firstphoto {

        flex-direction: column;

    }

    .secondphoto {

        flex-direction: column;
    }

    .thirdphoto {

        flex-direction: column;
    }

    .image2 {


        width: 50%;
    }

    .paragraph {

        width: 100%;
    }

    .paragraph1 {
        width: 100%;

    }

    .contact1 {

        flex-direction: column;
    }

    .image3 {

        width: 100%;
    }

    .divphoto1 {

        flex-direction: column;
        width: 70%;
        height: 50%;

    }

    .divphoto1 img {

        width: 50%;
        height: 50%;

    }

    .list1 {

        width: 80%;
        height: 50%;

    }

    .divphoto2 {

        flex-direction: column;
        width: 70%;
        height: 50%;


    }

    .divphoto2 img {

        width: 50%;
        height: 50%;

    }

    .list2 {

        width: 80%;
        height: 50%;

    }

    .photos {
        flex-wrap: wrap;
    }

   
   

}